<mat-toolbar color="primary">
  <a class="appname" href='/home'>Locale Mgmt</a>
  <span>&nbsp;</span>
  <span class="version">v 0.0.1</span>

  <span class="spacer">&nbsp;</span>

  <div *ngIf="!authService.loggedIn">
    <a mat-button href="/login">
      <mat-icon aria-hidden="false" aria-label="actions icon">account_box</mat-icon>
      Login
    </a>

  </div>

  <div *ngIf="authService.loggedIn">
    <span *ngIf="currentBundle">Bundle:&nbsp;</span>
    <span>{{currentBundle}}</span>  
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false" aria-label="actions icon">home</mat-icon>
      Actions
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink='search' [disabled]="!currentBundle"><mat-icon aria-hidden="false" aria-label="actions icon">search</mat-icon>Search</button>
      <button mat-menu-item><mat-icon aria-hidden="false" aria-label="actions icon">cloud_upload</mat-icon>Import</button>
      <button mat-menu-item><mat-icon aria-hidden="false" aria-label="actions icon">cloud_download</mat-icon>Export</button>
      <button mat-menu-item (click)="logout()" ><mat-icon aria-hidden="false" aria-label="actions icon">account_box</mat-icon>Logout</button>
    </mat-menu>
  </div>


</mat-toolbar>
