a.appname:link {
    color: white;
    text-decoration: none;
}
a.appname:visited{
    color: white;
    text-decoration: none;
}
a.appname:hover{
    color: white;
    text-decoration: none;
}
a.appname:active {
    color: white;
    text-decoration: none;
}


.version{
    font-size: smaller;
    font-style: normal;
}

.spacer{
    flex-grow: 1;
}

