<!--
    <div class="container">
    <mat-list>
        <mat-list-item *ngFor="let localeitem of sameKeyLocaleitems">
            <h2 matLine>{{localeitem.content}}</h2>
            <p matLine>
                <span class="bundle-chip">{{localeitem.bundle}}</span>
                <span class="lang-chip">{{localeitem.lang}}</span>
                <span class="key-chip">{{localeitem.key}}</span>
            </p>
        </mat-list-item>
    </mat-list>
</div>
-->
<p>{{sameKeyLocaleitems.length}}</p>
